body{
    font-family: SimSun, ו, tahoma;
    font-size: 12px;
}
.header{
    width: 100%;
    height: 164px;
    background: url("../images/main/BG_gnb.gif") left bottom repeat-x;
}
.header-main{
    width: 980px;
    height: 164px;
    margin: 0 auto;
}
.header-top{
    overflow: hidden;
    zoom: 1;
}
.header-top .bg-home{
    display: inline-block;
    float: left;
    margin-left: -25px;
}
.header-top ul{
    float: right;
    overflow: hidden;
    list-style: none;
    padding-top: 10px;
    margin-right: 20px;
}
.header-top ul li{
    display: inline-block;
    float: left;
    background: url("../images/main/bar_2x10_e9e9e9.gif") 0 50% no-repeat;
    padding-left: 10px;
    vertical-align: middle;
    list-style: none;
}
.no-background{
    background: none!important;
}
.header-top ul li a{
    display: block;
    padding-right: 10px;
    /*border-right: 1px solid gainsboro;*/
    color: #000;
    text-decoration: none;
}
.no-padding-right{
    padding-right: 0 !important;
}
.header-top ul li a img{
    vertical-align: middle;
}
.header-middle{
    overflow: hidden;
    zoom: 1;
    padding-top: 10px;
}
.a-logo{
    float: left;
    display: inline-block;
    padding-left: 20px;
}
.searchDiv{
    float: left;
    padding-left: 70px;
}
.search-form{
    overflow: hidden;
    zoom: 1;
}
.search-form input{
    background: url("../images/main/BG_search.png") no-repeat;
    width: 320px;
    height: 36px;
    float: left;
    outline: none;
    border: none;
    text-indent: 15px;

}
.search-btn{
    display: inline-block;
    background: url("../images/main/btn_search.png") no-repeat;
    width: 87px;
    height: 37px;
    float: left;
    border: none;
    outline: none;
    margin-left: 10px;
    margin-right: 30px;
}
.searchDiv img{
    margin-left: 20px;
    margin-bottom: 10px;
}

.header-bottom{
    overflow: hidden;
    zoom: 1;
    margin-top: 13px;
}
.header-bottom .header-bottom-nav{
    overflow: hidden;
    zoom: 1;
    float: left;
}
.header-bottom .header-bottom-nav li{
    float: left;
}
.header-bottom .header-bottom-nav li a{
    display: block;
    height: 40px;
}
.quickShopping{
    background: url("../images/main/gnb_quickShopping.gif") left top no-repeat;
    width: 130px;
    height: 40px;
}
.gnb_menu1{
    background: url("../images/main/gnb_menu1.png") 0 0 no-repeat;
    width: 116px;
    height: 40px;
}
.gnb_menu2{
    background: url("../images/main/gnb_menu2.png") 0 0 no-repeat;
    width: 132px;
    height: 40px;
}
.gnb_menu3{
    background: url("../images/main/gnb_menu3.png") 0 0 no-repeat;
    width: 83px;
    height: 40px;
}
.gnb_menu4{
    background: url("../images/main/gnb_menu4.png") 0 0 no-repeat;
    width: 82px;
    height: 40px;
}
.gnb_menu5{
    background: url("../images/main/gnb_menu5.png") 0 0 no-repeat;
   width: 85px;
    height: 40px;
}
.login-form{
    float: right;
}
.login-form input{
    outline: none;
    border: none;
}
.login-form input:nth-child(1),.login-form input:nth-child(2){
    width: 138px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
}
.login-form input:nth-child(3){
    background: url("../images/main/btn_login.png") no-repeat;
    width: 44px;
    height: 27px;
    outline: 1px solid;
    display: inline-block;
    vertical-align: middle;
}
.login-form span{
    display: inline-block;
    width: 0;
    height: 23px;
}
.footer{
    background: url("../images/main/BG_footer.gif") center top no-repeat;
    width: 100%;
    height: 579px;
    margin: 0 auto;
}
.footer-main{
    width: 980px;
    height: auto;
    padding: 45px 0 0;
    margin: 0 auto;
}
.footer-top{
    overflow: hidden;
    zoom: 1;
}
.footer-top-left{
    float: left;
    background: url("../images/main/BG_footerDivision_blue.png") 60px 20px no-repeat;
    width: 520px;
    height: 344px;
    /*padding-left: 60px;*/
}
.footer-top-left ul{
    overflow: hidden;
}
.footer-top-left ul li{
    float: left;
    width: 85px;
    padding-left: 45px;
}
.footer-top dl dd,dt{
    line-height: 22px;
    color: #636866;
}
.footer-top dt{
    font-weight: bolder;
    color: #303033;
}
.footer-top-left .have-margin-bottom{
    margin-bottom: 25px;
}
.footer-top-right{
    float: left;
    padding-left: 80px;
}
.QR-code{
    margin-top: 30px;
}
.QR-code img{
    vertical-align: top;
    margin-right: 10px;
}
.QR-code span{
    display: inline-block;
    width: 100px;
    color: #636866;
}
.footer-notice{
    clear: both;
    padding-top: 45px;
}
.footer-notice p{
    color: #636866;
    margin-left: 20px;
}
.footer-notice p strong{
    margin-right: 25px;
}
.footer-notice p span{
    float: right;
    display: inline-block;
    margin-right: 40px;
}
.footer-bottom{
    overflow: hidden;
    zoom: 1;
    padding-top: 30px;
}
.footer_logo{
    float: left;
}
.footer-bottom-text{
    float: left;
    color: #3f7c8e;
    font-weight: bolder;
    padding-left: 30px;
}
.footer-bottom-images{
    float: right;
    margin-right: 25px;
}
.p-last{
    margin-top: 10px;
}
.welcomeDiv span{
    display: inline-block;
    color: #ac2540;
    font-size: 16px;
    margin-left: 40px;
    /*margin-top: 20px;*/
    padding-top: 10px;
}

